nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13%;
}
main {
   
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
}

main button {
    margin: 1%;
    width: 80px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    transition: 0.9s;
    font-size: 20px;
}
main button:hover {
    background-color: black;
    color: white;
    padding: 10px;
    opacity: 70%;
    transform: scale(1.4);
    cursor: pointer;
}
#links a{
    text-decoration: none;
    color: darkviolet;
    font-size: 20px;
    padding: 20px;
}
#links{
    color: white;
}

#questions{
    margin: 5%;
    text-align: center;
    font-size: 40px;
    color: black;
}
#answers{
    margin: 5%;
    text-align: center;
    font-size: 30px;
    color: black;
}
#answers button{
    margin: 1%;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    transition: 0.9s;
}
#answers button:hover {
    background-color: black;
    color: white;
    padding: 10px;
    opacity: 70%;
    transform: scale(1.4);
    cursor: pointer;
}
#answerTxt{
    text-align: center;
    font-size: 35px;
    color: forestgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.new-score-box{
    margin: 5%;
    text-align: center;
    font-size: 30px;
    color: black;
}

.new-score-list{
    margin: 5%;
    text-align: center;
    font-size: 30px;
    color: black;
}
liEl {
    margin: 5%;
    text-align: center;
    font-size: 30px;
    color: black;
    list-style: none;
}

 @media screen and (max-width: 992px) {
   #links a{
       font-size: 20px;
      display: inline-flex;
   }
   #times{
       font-size: 20px;
       margin: 20px;
       margin-top: 50px;
   }
}